{
  "synth_version": "0.9.0",
  "day_asked_for_payment": 19229,
  "midi_learn": [
    {
      "source": 1,
      "destinations": [
        {
          "destination": "volume",
          "min_range": 0,
          "max_range": 1.4142999999999998906
        }
      ]
    },
    {
      "source": 2,
      "destinations": [
        {
          "destination": "osc_feedback_transpose",
          "min_range": -24,
          "max_range": 24
        }
      ]
    },
    {
      "source": 3,
      "destinations": [
        {
          "destination": "osc_feedback_tune",
          "min_range": -1,
          "max_range": 1
        }
      ]
    },
    {
      "source": 4,
      "destinations": [
        {
          "destination": "osc_feedback_amount",
          "min_range": -1,
          "max_range": 1
        }
      ]
    },
    {
      "source": 5,
      "destinations": [
        {
          "destination": "cross_modulation",
          "min_range": 0,
          "max_range": 0.5
        }
      ]
    },
    {
      "source": 6,
      "destinations": [
        {
          "destination": "osc_1_tune",
          "min_range": -1,
          "max_range": 1
        }
      ]
    },
    {
      "source": 7,
      "destinations": [
        {
          "destination": "osc_1_transpose",
          "min_range": -48,
          "max_range": 48
        }
      ]
    },
    {
      "source": 8,
      "destinations": [
        {
          "destination": "osc_1_unison_voices",
          "min_range": 1,
          "max_range": 15
        }
      ]
    },
    {
      "source": 9,
      "destinations": [
        {
          "destination": "unison_1_harmonize",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 10,
      "destinations": [
        {
          "destination": "osc_1_unison_detune",
          "min_range": 0,
          "max_range": 100
        }
      ]
    },
    {
      "source": 11,
      "destinations": [
        {
          "destination": "osc_2_tune",
          "min_range": -1,
          "max_range": 1
        }
      ]
    },
    {
      "source": 12,
      "destinations": [
        {
          "destination": "osc_2_transpose",
          "min_range": -48,
          "max_range": 48
        }
      ]
    },
    {
      "source": 13,
      "destinations": [
        {
          "destination": "osc_2_unison_voices",
          "min_range": 1,
          "max_range": 15
        }
      ]
    },
    {
      "source": 14,
      "destinations": [
        {
          "destination": "unison_2_harmonize",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 15,
      "destinations": [
        {
          "destination": "osc_2_unison_detune",
          "min_range": 0,
          "max_range": 100
        }
      ]
    },
    {
      "source": 16,
      "destinations": [
        {
          "destination": "sub_shuffle",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 17,
      "destinations": [
        {
          "destination": "sub_octave",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 20,
      "destinations": [
        {
          "destination": "osc_1_volume",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 21,
      "destinations": [
        {
          "destination": "osc_2_volume",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 22,
      "destinations": [
        {
          "destination": "sub_volume",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 23,
      "destinations": [
        {
          "destination": "noise_volume",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 50,
      "destinations": [
        {
          "destination": "filter_on",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 51,
      "destinations": [
        {
          "destination": "filter_blend",
          "min_range": 0,
          "max_range": 2
        }
      ]
    },
    {
      "source": 52,
      "destinations": [
        {
          "destination": "cutoff",
          "min_range": 28,
          "max_range": 127
        }
      ]
    },
    {
      "source": 53,
      "destinations": [
        {
          "destination": "resonance",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 54,
      "destinations": [
        {
          "destination": "filter_drive",
          "min_range": -12,
          "max_range": 20
        }
      ]
    },
    {
      "source": 55,
      "destinations": [
        {
          "destination": "fil_env_depth",
          "min_range": -128,
          "max_range": 128
        }
      ]
    },
    {
      "source": 56,
      "destinations": [
        {
          "destination": "keytrack",
          "min_range": -1,
          "max_range": 1
        }
      ]
    },
    {
      "source": 61,
      "destinations": [
        {
          "destination": "amp_attack",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 62,
      "destinations": [
        {
          "destination": "amp_decay",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 63,
      "destinations": [
        {
          "destination": "amp_sustain",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 65,
      "destinations": [
        {
          "destination": "fil_attack",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 66,
      "destinations": [
        {
          "destination": "fil_decay",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 67,
      "destinations": [
        {
          "destination": "fil_sustain",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 68,
      "destinations": [
        {
          "destination": "fil_release",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 69,
      "destinations": [
        {
          "destination": "mod_attack",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 70,
      "destinations": [
        {
          "destination": "mod_decay",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 71,
      "destinations": [
        {
          "destination": "mod_sustain",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 72,
      "destinations": [
        {
          "destination": "mod_release",
          "min_range": 0,
          "max_range": 4
        }
      ]
    },
    {
      "source": 80,
      "destinations": [
        {
          "destination": "stutter_on",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 81,
      "destinations": [
        {
          "destination": "stutter_tempo",
          "min_range": 6,
          "max_range": 11
        }
      ]
    },
    {
      "source": 82,
      "destinations": [
        {
          "destination": "stutter_resample_tempo",
          "min_range": 0,
          "max_range": 11
        }
      ]
    },
    {
      "source": 83,
      "destinations": [
        {
          "destination": "stutter_softness",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 85,
      "destinations": [
        {
          "destination": "distortion_on",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 86,
      "destinations": [
        {
          "destination": "distortion_type",
          "min_range": 0,
          "max_range": 3
        }
      ]
    },
    {
      "source": 87,
      "destinations": [
        {
          "destination": "distortion_drive",
          "min_range": -30,
          "max_range": 30
        }
      ]
    },
    {
      "source": 88,
      "destinations": [
        {
          "destination": "distortion_mix",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 90,
      "destinations": [
        {
          "destination": "delay_on",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 91,
      "destinations": [
        {
          "destination": "delay_tempo",
          "min_range": 0,
          "max_range": 11
        }
      ]
    },
    {
      "source": 92,
      "destinations": [
        {
          "destination": "delay_feedback",
          "min_range": -1,
          "max_range": 1
        }
      ]
    },
    {
      "source": 93,
      "destinations": [
        {
          "destination": "delay_dry_wet",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 95,
      "destinations": [
        {
          "destination": "reverb_on",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 96,
      "destinations": [
        {
          "destination": "reverb_feedback",
          "min_range": 0.80000000000000004441,
          "max_range": 1
        }
      ]
    },
    {
      "source": 97,
      "destinations": [
        {
          "destination": "reverb_damping",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 98,
      "destinations": [
        {
          "destination": "reverb_dry_wet",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 100,
      "destinations": [
        {
          "destination": "formant_on",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 101,
      "destinations": [
        {
          "destination": "formant_x",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 102,
      "destinations": [
        {
          "destination": "formant_y",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 105,
      "destinations": [
        {
          "destination": "legato",
          "min_range": 0,
          "max_range": 1
        }
      ]
    },
    {
      "source": 106,
      "destinations": [
        {
          "destination": "portamento",
          "min_range": -9,
          "max_range": -1
        }
      ]
    }
  ]
}